QProgressBar {
border: 1px solid grey;
border-radius: 4px;
text-align: center;
font-weight: bold;
}

QProgressBar::chunk {
background-color: #66CCFF;
width: 20px;
}

QPushButton { 
background-color: #CCCCCC;
border-style: outset;
border-width: 1px;
border-radius: 4px;
border-color: #000000;
font-family: Arial;
font-size: 12px;
}
